.main-title {

font-family: 'Ewert', cursive;
}


.title-one {

    font-family: 'bungee shade', cursive;
    margin-top: 170px;
    margin-left: 260px;
    color: #e50000;
    
}

.title-two {

    font-family: 'bungee shade', cursive;
    margin-top: 170px;
    margin-left: 260px;
    color: #e50000;
   
}

.title-three {

    font-family: 'bungee shade', cursive;
    margin-top: 170px;
    margin-left: 260px;
    color: #e50000;
}







.parallax-one {
    background-image: url(../media/shopfront.png);
    padding: 100px;
    height: 600px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.parallax-two {
    background-image: url(../media/parallax.png);
    padding: 100px;
    height: 600px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.parallax-three {
    background-image: url(../media/parallax.png);
    padding: 100px;
    height: 600px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.parallax-four {
    background-image: url(../media/parallax.png);
    padding: 100px;
    height: 600px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.shop-info {
   padding-top: 100px;
}





.carousel-inner > .carousel-item {
   height: 700px;

}


.fa {
  padding: 20px;
  font-size: 30px;
  width: 30px;
  text-align: center;
  text-decoration: none;
  border-radius: 50%;
}

.fa-instagram {
  background: #125688;
  color: white;
}


.fa:hover {
    opacity: 0.7;



}

.form {

    background-color: green;
}