.main-title {

font-family: 'Ewert', cursive;
}


.title-one {

    font-family: 'bungee shade', cursive;
    margin-top: 170px;
    margin-left: 260px;
    color: #fff;
    
}

.title-two {

    font-family: 'bungee shade', cursive;
    margin-top: 170px;
    margin-left: 260px;
    color: #fff;
   
}

.title-three {

    font-family: 'bungee shade', cursive;
    margin-top: 170px;
    margin-left: 260px;
    color: #fff;
}

.info-text {

    font-family: 'exo', cursive;

}

.lead {
    font-family: 'exo', cursive;
}






.parallax-one {
    background-image: url(../media/shopfront.png);
    padding: 100px;
    height: 600px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.parallax-two {
    background-image: url(../media/parallax-two.png);
    padding: 100px;
    height: 600px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.parallax-three {
    background-image: url(../media/parallax-two.png);
    padding: 100px;
    height: 600px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.parallax-four {
    background-image: url(../media/shoprules.png);
    padding: 100px;
    height: 600px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.shop-info {
   padding-top: 100px;
}





.carousel-inner > .carousel-item {
   height: 700px;

}


.card {

    width: 300px;
 
   length: 300px;
}




.footer{
  background: lightgray;
  color: darkslategrey;

} 
  .about-company{
    font-size: 18px;}
  .location{
    font-size: 18px;}
  }
  .copyright p{border-top:1px solid rgba(255,255,255,.1);} 
}