.main-title {

font-family: 'Ewert', cursive;
}

.navbar {
    margin-bottom: 0;
    border-radius: 0;
}


.title-one {

    font-family: 'bungee shade', cursive;
    font-size: 150%;
    color: #fff;
    margin-top: 120px;
    margin-left: 50px;
    position: absolute;

}

.title-two {

    font-family: 'bungee shade', cursive;
    font-size: 150%;
    color: #fff;
    margin-top: 120px;
    margin-left: 50px;
    position: absolute;
}

.title-three {

    font-family: 'bungee shade', cursive;
    font-size: 150%;
    color: #fff;
    margin-top: 120px;
    margin-left: 50px;
    position: absolute;
}

.info-text {

    font-family: 'quicksand', cursive;
    font-weight: 500;
    position: center;

}

.lead {
    font-family: 'exo', cursive;
}

.navbar-brand {
    font-family: 'bangers', cursive;
    font-size: 26px;
}


.location-title {
    font-family: 'exo', cursive;
    text-decoration: underline;
}

.hours-title {
    font-family: 'exo', cursive;
    text-decoration: underline;
}

.card-title {
    font-family: 'bangers', 'Courier New', Courier;
}

.card-text {
    font-family: 'exo', 'Courier New', Courier;
}

@media only screen and (min-width:350px) {
    .navbar-brand {
        margin-left: 30px;
    }

.card { 
    display: table;
}


.parallax-one {
    background: linear-gradient(to right, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url(../media/shopfront.png);
    padding: 100px;
    height: 600px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.parallax-two {
    background: linear-gradient(to right, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.4)), url(../media/parallax-one.png);
    padding: 100px;
    height: 600px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.parallax-three {
   
    background: linear-gradient(to right, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.4)), url(../media/parallax-two.png);
    padding: 100px;
    height: 600px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}


.parallax-four {
    background: linear-gradient(to right, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.4)), url(../media/shoprules.png);
    padding: 100px;
    height: 600px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.shop-info {
   padding-top: 100px;
}

.carousel-inner > .carousel-item {
   height: 700px;

}



hr {

    border: 0;
    height: 5px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));

}

.footer {
  background-color: #ccccca;
  color: #3aaba5;
  min-height: 120px;
  margin: 0;
}

.about-company {
    padding-top: 40px;
    font-size: 18px;
}

.location {
    padding-top: 40px;
    font-size: 18px;
}

.container-form {

    background-color: #ccccca;
    padding-bottom: 10px;
    padding-top: 10px;

}

.jumbotron {

    background-color: #ccccca;
}

.welcome.text {

    background-color: #ccccca;
}


@media (max-width: 500px;) {


}
